-
  var
  brandName = 'OlYoga.de',
  logoDefault = 'logo-120x67',
  logoInverse = 'logo-inverse-174x32',
  logoInverse2 = 'logo-inverse2-174x32',
  getTemplateLink = '#',
  seeFeaturesLink = 'section-see-features',
  includeLayoutPanel = false, 
  postLink = 'standard-post.html',
  postSlider = 'gallery-post.html',
  postVideo = 'video-post.',
  blogPostLink = 'link-post.html',
  postQuote = 'quote-post.html', 
  postAudio = 'audio-post.html',
  postImage = 'image-post.html',
  videoSrc = '//www.youtube.com/embed/ccuQoF0vKYU',
  teamMember = 'team-member-profile.html',
  menu = [
    {
      title: 'Home',
      link: '/'
    },
    {
      title: 'Über mich',
      link: 'about'
    },
    {
      title: 'Kurse',
      link: 'kurse'
    },
    {
      title: 'Kontakt',
      link: 'contact'
    },
  {
  title: 'Blog',
  link: 'blog'
  }
  ]
