extends  _skeleton

//- Includes
include elements/_ui-rd-parallax

block variables
	- var activeIndex = 5
	- var pageName = 'Blog'

block page
	// Page header
	include sections/header-top-new


	section.text-left.margin-top-empty-page
		.container
			h1= data.category ? data.category.name : 'Blog'

			.row
				.col-sm-8.col-md-9
					if filters.category && !data.category
						h3 Invalid Category.
					else
						if data.posts.results.length
							if data.posts.totalPages > 1
								h4.text-weight-normal Showing 
									strong #{data.posts.first}
									|  to 
									strong #{data.posts.last}
									|  of 
									strong #{data.posts.total}
									|  posts.
							else
								h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* post')}.
							.blog
								each post in data.posts.results
									+post(post)

							if data.posts.totalPages > 1
								ul.pagination
									if data.posts.previous
										li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
									else
										li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
									each p, i in data.posts.pages
										li(class=data.posts.currentPage == p ? 'active' : null)
											a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p))= p
									if data.posts.next
										li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
									else
										li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
						else
							if data.category
								h3.text-muted There are no posts in the c_ategory #{data.category.name}.
							else
								h3.text-muted There are no posts yet.

				if data.categories.length
					.col-sm-4.col-md-3
						h2 Categories
						.list-group(style='margin-top: 70px;')
							a(href='/blog', class=!data.category ? 'active' : false).list-group-item All Categories
							each cat in data.categories
								a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
					
	.container
		.row
			.video
	script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
	script.
		$.get('https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=10&key=AIzaSyD6UKp6_nk0kQrNlnmVNnS8A1yCirrAu2A&channelId=UC6cqazSR6CnVMClY0bJI0Lg', function (request) {
			$.each(request.items, function (i, el) {
				$('.video').append('<iframe class="col-sm-12 col-md-6 v-item" width="100%" height="500" src="https://www.youtube.com/embed/' + el.id.videoId + '" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>');
			});
		})
	// Page Footer
	include sections/_footer-minimal-contact

