extends  _skeleton

//- Includes
include elements/_ui-list-inline-icon

block variables
	- var activeIndex = 0
	- var footerLink = true
	- var pageName = 'OlYoGa | Vinyasa und Ashtanga Yoga'

block page
	// Page Header
	include sections/_header-sidebar-inverse
	include sections/_section-slider-creative

	// Presentation
	section.section-lg.bg-white.text-center(id=seeFeaturesLink)
		.shell
			.range.range-md-center
				.cell-md-10.cell-lg-8
					h3 Yoga ist für mich eine Quelle der Inspiration, ein Freund und Lehrer
					p Yoga ist das Lebensstil, die Denkweise, die Lebens- und Geisteseinstellung, die uns die Integration mit uns selbst, der Natur und allem Lebenden auf einer ganz anderen Ebene ermöglicht.
					p Egal wo wir einsteigen, sei es die Ausübung von Asanas (Körperhaltungen), Meditation oder Wunsch sich selbst zu erfahren, Yoga gibt uns zahlreiche Werkzeuge, um uns selbst kennenzulernen und dadurch das eigene Leben bewusster zu leben.
					p Yoga ist ein Freund, der immer für uns da ist und ich lade euch ganz herzlich ein, diese Lebensart mit mir zu entdecken.
	='\n'

	// Gallery
	section.section-lg.bg-white(data-photo-swipe-gallery='gallery')
		.shell-fluid
			.range.range-10.range-horizontal-10
				.cell-sm-6.cell-md-3.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/O1_1200x905.jpg', data-size='1200x905')
						figure
							+jpg('O1_472x355')
						.thumb-modern__overlay

				.cell-sm-6.cell-md-3.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/O2_1200x905.jpg', data-size='1200x905')
						figure
							+jpg('O2_472x355')
						.thumb-modern__overlay

				.cell-sm-6.cell-md-3.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/O3_1200x905.jpg', data-size='1200x906')
						figure
							+jpg('O3_472x355')
						.thumb-modern__overlay

				.cell-sm-6.cell-md-3.cell-lg-3
					a.thumb-modern(data-photo-swipe-item, href='images/O4_1200x905.jpg', data-size='1200x905')
						figure
							+jpg('O4_472x355')
						.thumb-modern__overlay
	='\n'

	section.section-lg.bg-white.text-center.home-video
		.shell
			.range.range-md-center
				.cell-md-11.cell-lg-11
					h3 YogaFamilia Messe
					div.range
						div.cell-md-7.cell-lg-7 <iframe width="700px" height="100%" src="https://www.youtube.com/embed/eo_DMsX71RQ?rel=0&amp;showi.." frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
						div.cell-md-5.cell-lg-5.text-justify
							p Über 300 Yoga-interessierte und Yoga-begeisterte Besucher konnten Yoga in Schnupperworkshops erleben und ausprobieren. Tolle Gespräche gab es auf der begleitenden Messe mit rund 20 Ausstellern aus der Region rund um Fitness, Entspannung, Gesundheit und Ernährung.
							p Ich freue mich sehr euch auf der nächsten Messe am 24. November 2018 in der Schlossgartenhalle Ettlingen zu sehen.
							p Videoproduktion:
								=' '
								a(href='http://www.artstudio-rs.com' target="_blank") artstudio-rs.com
	='\n'


	// Page Footer
	include sections/_footer-minimal
