//
// Icons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.icon {
  display: inline-block;
  line-height: 1;
  text-align: center;

  &:before {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

// Alternate icons
// --------------------------------------------------
.page {
  .icon-default {
    color: $text-color;
  }

  .icon-gray {
    color: $gray;
  }

  .icon-primary {
    color: $primary;
  }

  .icon-secondary-2 {
    color: $secondary-2;
  }

  .icon-secondary-4 {
    color: $secondary-4;
  }

  .icon-gray-4 {
    color: $gray-4;
  }

  a {
    &.icon-default {
      &:hover { color: $secondary; }
    }

    &.icon-primary {
      color: $primary;

      &:hover { color: $gray-base; }
    }
  }
}

// Button Sizes
// --------------------------------------------------
.page {
  .icon-xxs {
    font-size: 15px;
  }

  .icon-sm {
    font-size: 20px;
    line-height: 20px;
  }

  .icon-md {
    font-size: 22px;
    line-height: 22px;
  }

  .icon-lg {
    font-size: 44px;
  }

  .icon-xxl {
    font-size: 48px;

    @media (min-width: $screen-md-min) {
      font-size: 80px;
    }
  }
}

// Icon shapes
// --------------------------------------------------
.icon-circle {
  border-radius: 100%;
}

.icon.icon-circle {
  width: 2.2em;
  height: 2.2em;
  line-height: 2.2em;
}

.icon.icon-round {
  border-radius: 4px;
  width: 2.2em;
  height: 2.2em;
  line-height: 2.2em;
}

.icon-list-wrap {
  > *,
  &:before {
    vertical-align: middle;
    margin-right: 6px;
  }
}