//timeline
//

.timeline-heading {
  img {
    width: auto;
  }

  * + h6 {
    margin-top: 23px;
  }

  * + & {
    margin-top: 30px;
    @media (min-width: $screen-sm-min) {
      margin-top: 60px;
    }
  }
}

.timeline-title {
  &:hover{
    color: $primary;
  }
}

.page {
  .timeline-variant-1,
  .timeline-variant-2 {
    text-align: left;
    
    @media (min-width: $screen-sm-min) {
      .timeline-inner-box {
        max-width: 50%;
      }
    }
  }

  @media (min-width: $screen-sm-min) {

    //timeline 1
    //
    .timeline-variant-1 {

      > [class*=cell-] {        
        
        &:nth-child(odd) {
          
          .timeline-inner-box {
            margin-left: auto;
            text-align: left;
            padding-left: 46px;
          }
        }
        
        &:nth-child(even) {
          
          .timeline-inner-box {
            margin-right: auto;
            text-align: right;
            padding-right: 46px;

            &:before {
              left: auto;
              right: -1px;
            }
            &:after {
              left: auto;
              right: -10px;
            }
          }
        }
      }
    }

    //timeline 2
    //
    .timeline-variant-2 {

      > [class*=cell-] {
        text-align: left;

        .timeline-inner-box {
          margin-left: auto;
          padding-left: 46px;
        }
      }
    }
  }

  //timeline 3
  //
  .timeline-variant-3 {
    padding-bottom: 20px;
    @media (min-width: $screen-sm-min) {
      padding-bottom: 85px;
    }

    .item {
      padding-bottom: 10px;
    }

    .timeline-inner-box {
      p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
      }
      &:before,
      &:after {
        content: none;
      }

      @media (min-width: $screen-sm-min) {
        &:before {
          position: absolute;
          left: 0;
          right: 0;
          top: calc(99% - 85px);
          bottom: 0;
          border-bottom: 1px solid $gray-1;
          border-left:0;
          content: "";
          display: inline-block;
        }

        &:after {
          position: absolute;
          top: calc(99% - 9px);
          left: calc(50% - 9px);
          display: inline-block;
          width: 19px;
          height: 19px;
          background: $primary;
          border-radius: 50%;
          content: '';
        }
      }
    }

    .owl-prev,
    .owl-next {
      top: auto;
      bottom: 0;
    }

    .owl-prev {
      left: calc(50% - 35px);
    }
    .owl-next {
      right: calc(50% - 40px);
    }
  }
}

//timeline inner box
//
.timeline-inner-box {
  position: relative;
  padding-left: 25px;
  padding-bottom: 35px;

  &:before {
    position: absolute;
    top: 0;
    bottom: -4px;
    left: 0;
    border-left: 1px solid $gray-1;
    content: "";
    display: inline-block;
  }

  &:after {
    position: absolute;
    top: 0;
    left: -9px;
    display: inline-block;
    width: 19px;
    height: 19px;
    background: $primary;
    border-radius: 50%;
    content: '';
  }

  time {
    display: block;
    font-style: italic;
    font-size: 12px;
    line-height: 26px;
    color: $primary;
  }

  @media (min-width: $screen-sm-min) {
    padding: 0 20px 55px;

    &:before,
    &:after {
      top: 4px;
    }

  }
}