extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui-thumbnail-classic

block variables
  - var activeIndex = 2
  - var pageName = 'OlYoGa | Kurse'

block page
  // Page header
  include ../sections/_header-sidebar-inverse


  section.text-center
    +rd-parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/parallax-05.jpg",
        "htmlSpeed": "0.1",
        "class": 'parallax-header rd-parallax-light'
    })
      .parallax-header__inner: .parallax-header__content
        .shell
          .range.range-xs-center
            .cell-sm-10.cell-lg-8
              h2 "Alle uns möglichen Qualitäten sind in uns schon vorhanden; es geht nur darum, sie zum Vorschein und zum Wirken zu bringen"
              p T.K.V.Desikachar


  section.section-md.bg-white.text-center
    .shell
      .range.range-50.range-xs-center

        .cell-sm-10
          p Liebe Yogis und Yoginis aktuell biete ich private Kurse an, die wir gerne durch eure Voranmeldung über dieses Formular vereinbaren können.
          p Liebe Yoga Schule Inhaberinnen und Inhaber, wenn Ihr Interesse an gemeinsamen Projekten habt, meldet Euch gerne bei mir.
        .cell-sm-10
          h5 Om Shanti shanti shanti om.



  // Page Footer
  include ../sections/_footer-minimal

