div.footer-bg
  footer.footer-minimal
    .shell
      ul.list-xxs
        li
          dl.list-terms-minimal
            dt Address
            dd Bühl

        li
          dl.list-terms-minimal
            dt E-mail
            dd: a(href='mailto:contact@olyoga.de') contact@olyoga.de

        li
          dl.list-terms-minimal.chng-languages
            dt Sprache auswählen
            dd
              ul
                li German
                li
                  a(href="#") English
                li
                  a(href="#") Russe


      div.list-inline-sm.footer-minimal__list.insta-gallery.range(id='instafeed')

      p.rights
        span!=brandName
        span &nbsp; &copy; &nbsp;
        span(id="copyright-year")
        span
          a.license(href='datenschutzerklarung.html' target="_blank") Datenschutzerklärung

        if(footerLink)
          // {%FOOTER_LINK}
