div.footer-bg-home
  footer.footer-minimal
    .shell
      ul.list-xxs
        li
          dl.list-terms-minimal
            dt Adresse
            dd Bühl
        li
          dl.list-terms-minimal
             dd: a(href='datenschutzerklarung.html' target="_blank") Datenschutzerklärung

        li
          dl.list-terms-minimal
            dt E-mail
            dd: a(href='mailto:contact@olyoga.de') contact@olyoga.de

      p.rights
        span!=brandName
        span &nbsp; &copy; &nbsp;
        span(id="copyright-year")
        if(footerLink)
          // {%FOOTER_LINK}