header.page-header
  // RD Navbar
  .rd-navbar-wrap
    nav.rd-navbar.rd-sidebar_reverse(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-sm-device-layout='rd-navbar-fixed', data-md-layout='rd-navbar-sidebar', data-md-device-layout='rd-navbar-fixed', data-lg-device-layout='rd-navbar-sidebar', data-lg-layout='rd-navbar-sidebar', data-stick-up-clone='false', data-sm-stick-up='true' data-md-stick-up='true' data-lg-stick-up='true', data-md-stick-up-offset='50px', data-lg-stick-up-offset='50px', data-body-class='rd-navbar-absolute', data-md-hover-on='false', data-lg-hover-on='false')
      // RD Navbar Top Panel

      .rd-navbar-inner.rd-navbar-search-wrap.rd-navbar-search-collapsable-wrap
        // RD Navbar Panel
        .rd-navbar-panel.rd-navbar-search_not-collapsable
          .rd-navbar-panel__aside
            button.rd-navbar-toggle.rd-navbar-search_collapsable(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span

          .rd-navbar-panel__main.rd-navbar-search_collapsable
            // RD Navbar Brand
            .rd-navbar-brand
              a.brand-name(href='/')
                +png(logoDefault)

        // RD Navbar Nav
        .rd-navbar-nav-wrap
          include ../includes/_nav
