include ../elements/_ui-rd-video
// Swiper
section.rd-parallax
  .rd-parallax-layer(data-type='html', data-speed='1')
    .swiper-container.swiper-slider.swiper-slider_fullheight(data-simulate-touch="false", data-loop='false', data-autoplay='false')
      .swiper-wrapper
        .swiper-slide.bg-secondary-7.custom-parallax-wrap(data-slide-bg='images/slider-slide-10-1920x1080.jpg')
          .swiper-slide-caption.custom-parallax(data-speed='0.5', data-fade='true').text-left
            .shell
              h2(data-caption-animate='fadeInLeftSmall')
                | Discover the Full
                br
                |  Potential of Bootstrap
                br.veil.reveal-md-block
                | with Monstroid²
              a.button.button-gray-light-outline(data-caption-animate='fadeInLeftSmall', data-caption-delay='200', href=getTemplateLink) Buy template

        .swiper-slide.bg-gray-dark.custom-parallax-wrap(data-slide-bg='images/slider-slide-11-1920x1080.jpg')
          .swiper-slide-caption.custom-parallax(data-speed='0.5', data-fade='true').text-center
            .shell
              h1(data-caption-animate='fadeInUpSmall')
                span Monstroid
                sup 2
              h3(data-caption-animate='fadeInUpSmall', data-caption-delay='200') New HTML Templates Generation
              .group-lg.group-middle
                a.button.button-primary(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) See Features
                a.button.button-gray-base(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href=getTemplateLink) Buy template

        .swiper-slide.bg-gray-dark.custom-parallax-wrap.bg-video
          video( poster="video/video-lg.jpg" src="video/video-lg.mp4" loop muted )
          .swiper-slide-caption.custom-parallax(data-speed='0.5', data-fade='true').text-center
            .shell
              h2(data-caption-animate='fadeInUpSmall') Built by geeks & used by humans
              h5.text-width-2.block-centered(data-caption-animate='fadeInUpSmall', data-caption-delay='200') Monstroid² aims to satisfy real needs of real projects. We've got a pack of useful tools for that.
              .group-lg.group-middle
                a.button.button-gray-base(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) Take a tour
                a.button.button-primary(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href=getTemplateLink) Buy template

      // Swiper Pagination
      .swiper-pagination

      // Swiper Navigation
      .swiper-button-prev.linear-icon-chevron-left
      .swiper-button-next.linear-icon-chevron-right
='\n'