section.section-sm.text-center
    .shell
        .range.range-md-center
            .cell-md-10.cell-lg-8
                h3 Kontaktformular
                // RD Mailform
                form.rd-mailform.rd-mailform_style-1.text-center(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                    .form-wrap.form-wrap_icon.linear-icon-man
                        input#contact-name.form-input(type="text" name="name" data-constraints='@Required')
                        label.form-label(for="contact-name") Name

                    .form-wrap.form-wrap_icon.linear-icon-envelope
                        input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
                        label.form-label(for="contact-email") E-mail

                    //.form-wrap.form-wrap_icon.linear-icon-telephone
                    //  input#contact-phone.form-input(type="text" name="phone")
                    //  label.form-label(for="contact-phone") Telefonnummer

                    .form-wrap.form-wrap_icon.linear-icon-feather
                        textarea#contact-message.form-input(name="message" data-constraints="@Required")
                        label.form-label(for="contact-message") Nachricht

                    button(type="submit").button.button-primary send
='\n'